.mail-details {
  flex-direction: column;
  padding: 10px;
  /* margin-top: 5vh; */
}

.mail-details h2 {
  margin-bottom: 20px;
}

.mail-details-info {
  margin-bottom: 15px;
}

.mail-details-body pre {
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* tools */

.mail-details-tools {
  align-items: center;
}

.details-header > * {
  padding: 5px;
}

.mail-details-tools > *:not(:last-child) , 
.details-nav > *:not(:last-child){
  margin-right: 5px;
}

.mail-details button {
  border: none;
  background-color: white;
}

.mail-details button:hover {
  cursor: pointer;
}

.grey-color {
  color: rgba(116, 125, 134, 0.602);
}

.details-header .fa {
  font-size: 16px;
}

.stared {
  color: yellow;
}

.mail-details-addresses {
  flex-direction: column;
}

.mail-details-date {
  color: rgba(116, 125, 134, 0.602);
}

.details-header{
  /* align-items: center; */
  justify-content: space-between;
}



.mail-details-tools .fa-envelope,
.mail-details-tools .fa-envelope-open,
.mail-details-tools .fa-trash,
.details-nav .fa {
  color: rgba(116, 125, 134, 0.602);
}

@media (max-width: 570px) {
  .mail-details {
    width: 100vw;
    margin-left: 10px;
  }

  .mail-details-info {
    flex-direction: column;
    gap: 10px;
  }
}

@media (min-width: 570px) {
  .mail-details {
    width: 180vw;
    margin-left: 20vw;
  }

  .mail-details-info {
    justify-content: space-between;
  }

  /* hovering */

.details-header button:hover .fa {
  color: black;
}

.mail-details-tools button:hover .fa.stared {
  color: yellow;
}
}
