@import './mail-menu.css';
@import './mail-details.css';
@import './mail-filter.css';
@import './mail-add.css';
@import './mail-list.css';
/* @import './mail-header.css'; */
@import './mail-preview.css';



.mail-app {
  flex-direction: column;
  position: relative;
}

.mail-main {
  max-width: 100vw;
  min-height: 90vh;
  position: relative;
}

.mail-list-container {
  width: 70vw;
  flex-grow: 1;
}

.mail-header {
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  height: 5vh;
  min-height: 41px;
  border-bottom: 1px solid gray;
  background-color: white;
  position: fixed;
  max-width: 100vw;
  min-width: 100vw;
  z-index: 1;
}

.mail-filter {
  position: relative;
  right: 10px;
}



/* MOBILE */

@media (max-width: 570px) {
  .compose-btn-mobile {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 150px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    border: none;
    background-color: rgb(55, 55, 255);
    border-radius: 15px;
  }

  .compose-btn-mobile span {
    color: white;
  }

  .mail-filter {
    position: relative;
    padding-top: 5px;
    margin-left: 25px;
    flex-grow: 1;
  }

  .mail-filter input {
    flex-grow: 1;
    border: none;
    max-width: 50vw;
    background-color: rgba(128, 128, 128, 0);
    padding-right: 15vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .mail-filter input:focus-visible {
    outline-width: 0;
  }

  /* .mail-filter input:focus{
    max-height: 30px;
  } */

  .filter-container {
    width: 80vw;
    margin: 0 auto;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 0 10px;
  }

  .filter-container h1 {
    display: none;
  }

  .hamburger-menu {
    min-height: 30px;
    min-width: 30px;
    border: none;
    background-color: white;
  }

  .hamburger-menu span {
    color: gray;
    font-size: 20px;
  }

/* 
  .none{
    transform: translateX(-100%);
    transition: 0.6s;
  }
  
  .opacity{
    min-width: 50vw;
    z-index: 10;
    transform: translateX(0);
    transition: 0.6s;
    background-color: white;
  } */

}

/* TABLET */

@media (min-width: 570px) {
  .compose-btn-mobile {
    display: none;
  }

  .filter-container {
    min-width: 100vw;
    max-width: 100vw;
    margin: 0 ;
    justify-content: space-between;
  }

  .mail-filter input{
      margin-right: 25px;
  }

  .hamburger-menu {
    display: none;
  }

  .mail-filter input{
   border-radius: 15px;
   border:1px solid gray;
   padding: 0 7px
  }

}


