@import "./mail-menu.css";
@import "./mail-details.css";
@import "./mail-filter.css";
@import "./mail-list.css";
@import "./mail-preview.css";


.mail-index{
    display: flex;
    max-width: 100vw;
}

.mail-menu-container{
    border-right: 1px solid gray;
    width: 30vw;
}

.mail-main{
    max-width: 70vw;
    flex-grow: 1;
}


.mail-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid gray;

    /* line-height: 5vh; */
}