@import "./mail-menu.css";
@import "./mail-details.css";
@import "./mail-filter.css";
@import "./mail-list.css";
@import "./mail-preview.css";


.mail-index{
    flex-direction: column;
}

.mail-menu-container{
    border-right: 1px solid gray;
}

.mail-main{
    max-width: 100vw;
    min-height: 90vh;
}

.mail-list-container{
    width: 70vw;
    flex-grow: 1;

}

.mail-header{
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    height: 5vh;
    border-bottom: 1px solid gray;
}