.mail-list > *:not(:first-child) {
  border-top: 1px solid rgba(146, 157, 168, 0.602);
}

.mail-list > *:last-child {
  border-bottom: 1px solid rgba(146, 157, 168, 0.602);
}

.mail-list > :first-child {
  margin-top: 5vh;
}

.read {
  background-color: rgba(185, 173, 173, 0.226);
}

.mail-preview-container {
  display: flex;
  gap: 10px;
  position: relative;
  max-width: 100vw;
  /* max-width: 80vw; */
}

.mail-preview-container:hover{
  cursor: pointer;
}

.mail-preview-container > *:not(:first-child) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.mail-preview-container > * {
  height: 5vh;
  line-height: 5vh;
  width: 100%;
}

.mail-preview-contact {
  padding-left: 5px;
  min-width: 100px;
  max-width: 120px;
}

.mail-preview-text {
  flex-grow: 1;
}

.mail-preview-body {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
  flex-grow: 1;
}

.mail-preview-date {
  min-width: 70px;
  max-width: 70px;
  text-align: right;
  padding-right: 15px;
}

.delete-mail-btn {
  display: none;
  border: none;
  max-width: 70px;
}

.delete-mail-btn .fa {
  font-size: 20px;
}

.delete-mail-btn .fa-trash {
  color: rgba(116, 125, 134, 0.602);
}

/* star */

.black-stroke {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.mail-preview-container .star {
  border: none;
  background-color: rgba(185, 173, 173, 0);
  width: 40px;
}

.star:hover {
  cursor: pointer;
}

/* hovering */

.delete-mail-btn:hover {
  cursor: pointer;
}

.delete-mail-btn:hover .fa-trash {
  color: black;
}

/* .mail-preview-container:hover .mail-preview-date {
  display: none;
}
.mail-preview-container:hover .mail-preview-text {
  margin-right: 80px;
} */

.mail-preview-container:hover .delete-mail-btn {
  background-color: rgba(255, 255, 255, 0);
  /* display: flex; */
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

@media (max-width: 570px) {
  .mail-preview-container {
    max-width: 100vw;
  }

  .star {
    padding-left: 10px;
  }

  .mail-preview-container:hover .delete-mail-btn{
    display: none;
  }
}

@media (min-width: 570px) {
  .mail-preview-container {
    max-width: 80vw;
  }

  .mail-list > * {
    margin-left: 20vw;
  }

  .mail-preview-container:hover .delete-mail-btn {
    display: flex;
  }

  .mail-preview-container:hover .mail-preview-date {
    display: none;
  }
  .mail-preview-container:hover .mail-preview-text {
    margin-right: 80px;
  }
}
