
.mail-list>*:not(:first-child){
  border-top: 1px solid rgba(146, 157, 168, 0.602);
}

.mail-list>*:last-child{
  border-bottom: 1px solid rgba(146, 157, 168, 0.602);
}

.read{
  background-color: rgba(185, 173, 173, 0.226);
}

.mail-preview-container {
  display: flex;
  gap: 10px;
  position: relative;
}

.mail-preview-container > * {
  height: 5vh;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 5vh;
  width: 100%;
}



.mail-preview-contact {
  padding-left: 5px;
  min-width: 100px;
  max-width: 120px;
}

.mail-preview-text {
  flex-grow: 1;
}

.mail-preview-body {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100px;
  flex-grow: 1;
}

.mail-preview-date {
  min-width: 60px;
  max-width: 70px;
  text-align: right;
  padding-right: 5px;

}

.delete-mail-btn {
  display: none;
  border: none;
  max-width: 70px;
}

.delete-mail-btn:hover{
cursor: pointer;
}

.trash-img-preview{
height: 15px;
width: 15px;
}

.mail-preview-container:hover .delete-mail-btn{
  background-color: rgb(185, 173, 173);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
}

