.mail-details{
    flex-direction: column;
    padding: 10px;
    width: 70vw;

}

.mail-details h2{
    margin-bottom: 20px;
}

.mail-details-info{
    justify-content: space-between;
    margin-bottom: 15px;
}
