.home-img{
    background-image: url("../../img/office-3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.home-header>*{
    color: white;
    font-size: xx-large;
    text-align: center;
    padding-bottom: 15px;
}

.home-img img{
    height: 100px;
}

.home-content{
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap:15px;
    margin: 20px auto;
    text-align: center;
    max-width: 1000px;
    width: 100%;
    
}

.home-books p,
.home-mail p,
.home-keep p {
    flex-grow: 1;
}

.home-content>*{
    min-height:300px;
    background-color: rgba(185, 173, 173, 0.712);
    background-color: rgba(141, 110, 110, 0.712);
    border-radius: 15px;
    padding: 20px;
    max-width: 30vw;
    flex-grow: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /* transition: 0.5s; */
}

.home-content>*:hover{
    box-shadow: rgba(14, 14, 26, 0.692) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.527) 0px 3px 7px -3px;
}

.home-content>* .fa{
    transition: 0.5s;
}

.home-content>*:hover .fa{
    transform: scale(2);
    transition: 0.5s;
}

.home-content>*>a{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
}

.home-content>* a>a{
    text-align: center;
    font-size: 18px;
}

@media (min-width: 570px) {
    .home-content>*{
        width: 30vw;
    }
  }