.app-header {
  height: 60px;
  border-bottom: 1px solid gray;
  margin: 0;
}

.logo img {
  height: 55px;
  margin-left: 20px;
}

.app-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(184, 184, 184);
}

.app-header nav > * {
  margin-right: 10px;
}

.nav-links {
  padding: 10px;
}

.header-link {
  color: rgb(138, 132, 132);
  padding: 10px;
}

.header-link:hover {
  color: rgb(0, 0, 0);
  padding: 10px;
}
.header-link:active {
  color: rgb(0, 0, 0);
  padding: 10px;
}
