.note-preview {
  position: relative;
  padding: 10px;
  max-width: 400px;
  min-height: 100px;
  /* height: fit-content; */
  /* width: 100%; */
  border: #d6d6d6 3px solid;
  border-radius: 7px;
  margin: 5px;
  /* flex: 1; */
  transition: box-shadow 0.3s;
  transition: 0.3s;
  break-inside: avoid-column;
}
.note-preview:hover {
  box-shadow: rgb(155, 155, 155) 0px 0px 4px 1px;
  cursor: pointer;
}

.edit-mode {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80vw;
  max-width: 100vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.edit-mode .note-video {
  margin: auto;
  width: 70vw;
  height: 80vh;
  max-width: 100vw;
}

.edit-mode .note-video iframe {
  width: 100%;
  max-width: 100vh;
  height: 70vh;
}

.actions-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  opacity: 0;
}

button.trash {
  width: 15px;
  height: 20px;
  padding: 0px;
  margin: 4px;
  border: none;
  background-color: white;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../../img/trash.svg);
  transition: 0.3s;
}

.note-preview:hover .actions-container {
  opacity: 1;
  transition: 0.3s;
}
button.color-palette-container {
  position: relative;
  /* opacity: 0; */
  /* bottom: 0; */
  /* right: 0; */
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 4px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  cursor: pointer;
  background-image: url(../../../img/palette.svg);
  transition: 0.3s;
}

ul.color-palette {
  position: absolute;
  left: 25px;
  bottom: 10px;
  opacity: 0;
  padding: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 15px);
  grid-template-rows: repeat(3, 15px);
  gap: 1px;
  transition: 0.4s;
}

.color-palette-container:hover .color-palette {
  opacity: 1;
}

.color-palette > * {
  border: 1px solid black;
  border-radius: 15px;
  height: 15px;
  width: 15px;
  transition: 0.2s;
}

.color-palette li:hover {
  transform: scale(1.1);
}

.note-img img {
  max-width: 100%;
}

.note-video iframe {
  width: 100%;
  max-width: 300px;
}
