.note-preview {
  padding: 10px;
  max-width: 400px;
  min-height: 100px;
  border: #d6d6d6 1px solid;
  border-radius: 7px;
  margin: 5px;
  /* flex: 1; */
  transition: box-shadow 0.3s;
}
.note-preview:hover {
  box-shadow: rgb(211, 211, 211) 0px 0px 4px 1px;
  cursor: pointer;
}
/* .note-preview > * {
  max-height: 100px;
  max-width: 100%;
} */

/* .note-preview > * img {
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
} */

.note-img img {
  max-width: 100%;
}

.note-video iframe {
  width: 100%;
  max-width: 300px;
}
