.note-preview {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-height: 100px;
  height: fit-content;
  width: 100%;
  border: #2c2c2c 1px solid;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 0px;
  transition: 0.3s;
  break-inside: avoid-column;
}

.edit-mode {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 100vw;
  height: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-overflow: ellipsis;
}
.note-preview pre {
  margin: 0;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0);
}
.edit-mode:hover {
  cursor: default;
}

.note-todos {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.done {
  text-decoration-line: line-through;
}
.todos li:not(:last-child) {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
}

.todos li:last-child {
  display: flex;
  justify-content: flex-start;
  min-width: 200px;
  padding-top: 10px;
}

.todos input {
  background-color: rgba(52, 118, 175, 0);
  border: none;
  flex: 1;
}

.note-txt pre {
  max-width: 300px;
  max-height: 400px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.note-txt pre:focus-visible {
  outline-width: 0;
}

.edit-mode .note-txt pre {
  width: 70vw;
  max-width: 70vw;
  height: 60vh;
}

.edit-mode .note-video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  text-align: center;
  width: 70vw;
  height: 70vh;
  /* max-width: 70vw; */
  /* height: 80vh; */
  /* max-width: 100vw; */
}

.edit-mode .note-video iframe {
  /* width: 100%; */
  /* max-width: 100vh; */
  align-self: center;
  /* height: 70vh; */
}

.edit-mode .note-img img {
  width: 70vw;
  height: 60vh;
}

.edit-mode .note-img input {
  width: 250px;
  height: 30px;
  border: 2px solid black;
}

.actions-container {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  font-size: 30px;
  letter-spacing: 15px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.816);
  opacity: 0;
  transition: 0.5s;
}

.note-preview:hover .actions-container {
  opacity: 1;
}

.actions-container > * {
  position: relative;
  color: rgb(76, 76, 76);
  cursor: pointer;
}
.actions-container > *:hover {
  color: rgb(23, 23, 23);
}

.color-palette {
  position: absolute;
  left: 30px;
  bottom: 0px;
  padding: 0px;
  list-style: none;
  display: none;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 1px;
  transition: 0.5s;
  margin: 0;
  z-index: 20;
}

.show-colors .color-palette {
  display: grid;
}

.color-palette > * {
  border: 1px solid black;
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.pin-header {
  display: block;
  margin: 10px;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

.pin-container {
  font-size: 25px;
}

.pin-note {
  font-size: 100px;
  position: absolute;
  top: 2px;
  right: 10px;
  cursor: pointer;
  transition: 0.5s;
  opacity: 0;
}

.note-preview:hover .pin-note {
  opacity: 1;
}

.note-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.note-video {
}
.note-video iframe {
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%;
}
