.note-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 5px auto 5px;
  border: 2px black solid;
  border-radius: 5px;
  max-width: 600px;
}

.add-start {
  height: 45px;
  padding-left: 10px;
  border: none;
  flex-grow: 1;
}

.add-start:focus-visible {
  outline-width: 0;
}

.actions {
  margin: 10px;
}

.actions > * {
  width: 25px;
  height: 25px;
  padding: 0px;
  margin: 4px;
  border: none;
  background-color: white;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.btn-save {
  background-image: url(/img/save.svg);
}

.btn-txt {
  background-image: url(/img/txt.svg);
}
.btn-todos {
  background-image: url(/img/todos.svg);
}
.btn-img {
  background-image: url(/img/image.svg);
}
.btn-video {
  background-image: url(/img/video.svg);
}

.selected {
}
